node_modules/     
.next/             
build/            
dist/             
.env
.env.production      
.env.local        
.DS_Store      
coverage/        
.vscode/           
.idea/            
*.log             